div {
	text-align: center;
	margin: 0 auto;
}

#question {
	background-color: #ffff99;
	width: 400px;
	height: 50px;
	padding: 20px;
	text-align: center;
}

#feedback {
	background-color: #ff99ff;
	width: 400px;
	height: 50px;
	padding: 20px;
	text-align: center;
}

#setup {
	display: block;
}

#content {
	display: none;
}

